Netflix Randomizer Workflow.json
{
  "name": "Netflix Randomizer Workflow",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "985e42b0-2714-48a6-8846-1188eef73d6f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2gQh61710UOVRJli",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a social media manager. Write an email body about the movie \"{{ $json.title }}\".\n\nformatting Rules (Crucial):\n- Use HTML tags for subject and the body.\n- Use <br> for every line break.\n- Use <b> for bold text (like the movie title\n- Use HTML tags for formatting only \n-Do NOT use <html>, <body>, or ```html code blocks.\n- Start with: \" generated post for <b>{{ $json.title }}</b>:\"\n- then write a short subject the grabs attention\n- Then write a catchy social media caption.\n- End with 3 hashtags.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        192,
        -128
      ],
      "id": "6c8773cc-6a72-4290-b189-49114aca81e4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FjlBIVZiqqNp-aC0NuGMwtMK5ZTJvZfqPR6PA2xpSKs",
          "mode": "list",
          "cachedResultName": "Netflix cleaned data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FjlBIVZiqqNp-aC0NuGMwtMK5ZTJvZfqPR6PA2xpSKs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1913620583,
          "mode": "list",
          "cachedResultName": "netflix_cleaned",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FjlBIVZiqqNp-aC0NuGMwtMK5ZTJvZfqPR6PA2xpSKs/edit#gid=1913620583"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "={{ Math.floor(Math.random() * 8000) + 2 }}"
            }
          },
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        0
      ],
      "id": "a5667aa4-d78e-4912-a0e4-b6d81b427010",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XhJjFEPVIejPLR7f",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        0
      ],
      "id": "56237b24-78f4-42ca-95bc-b4b5da9df680",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "return [items[Math.floor(Math.random() * items.length)]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        0
      ],
      "id": "db0c3615-f933-4351-b731-853615f229ae",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "parasthapa990@gmail.com",
        "subject": "New Netflix Post Idea",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        544,
        -128
      ],
      "id": "38ee71b9-f8fb-404e-b16a-e128dab1709f",
      "name": "Send a message",
      "webhookId": "0c07da65-b7cc-4c88-87cf-03ef1a77109d",
      "credentials": {
        "gmailOAuth2": {
          "id": "iIdyqcqYQSo2tNnh",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97ac8a83-dcc2-4f62-951a-b668b0d9e62c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4c18da7abc1ba5e275d9f740bd8dc59c678173ad098b5da5247a9b5fb250994"
  },
  "id": "WqdvJ00rM6pDEsXu",
  "tags": []
}